@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Montserrat:wght@300;700&family=Permanent+Marker&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}

input, textarea, button, select{
    font: inherit;
}

html{
    font-family: 'Montserrat', sans-serif;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #E3E6f3;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header .logo{
   padding-left: 28px;
}
#navbar{
    display: flex;
    /* padding: 20px 60px; */
    align-items: center;
    justify-content: center;
  
}
#navbar li{
    padding: 0px 20px;
    list-style-type: none;
    position:relative;
}
#navbar li a{
    text-decoration: none;
    color: black;
    transition: .3s ease;
}
#navbar li a:hover,#navbar li a.active{
    color:  rgb(255, 0, 0);
}
#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background-color:  rgb(255, 0, 0);
    position: absolute;
    bottom: -4px;
    left: 30px
}
.logo span{
    color: rgb(255, 0, 0);
}

a#logo {
    text-decoration: none;
}
a#logo h1{
    color: black;
}
#body{
    background-image: url("../img/background-img.png");
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: top 50% right 0;
    padding: 0px 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.h1-tag{
    font-size: 45px;
    padding-bottom: 10px;
    line-height: 64px;
}
p{
    font-size: 18px;
    color: rgb(68, 67, 67);
    padding-bottom: 15px;
    padding-left: 1px;
}
#body button{
    background-image: url("../img/button.png");
    background-color: transparent;
    border: none;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    color:#000;
    font-weight: bold;
    margin-left: -12px;
    margin-top: 10px;
    transition: transform 0.25s;
    overflow: hidden;
}
#body button:hover{
    transform: scale(1.1);
}
.p-red{
    color:  rgb(255, 0, 0);
     font-weight: 600; 
}